// about me section

.aboutme {
    height: 75%;
    width: 90%;
    
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(2, 1fr);
    gap: $big-grid-gap;

    @media only screen and (max-width: $bp-tab-port) {
        height: 80%;
        gap: $small-grid-gap;
    }

    &__img {
        grid-row: 1/3;
        grid-column: 1/2;
        object-fit: cover;
        display: block;
        min-height: 100%;
        width: 100%;

        @media only screen and (max-width: $bp-tab-port) {
            grid-row: 1/4;
        }
    }

    &__content {
        grid-row: 1/4;
        grid-column: 2/3;

        background-color: $col-white;

        display: grid;
        grid-template-rows: 5rem 1fr 5rem 1fr;
    }

    &__title {
        @include flex(row, center, center);

        color: $col-white;
        font-size: 2rem;
        background-color: $col-content;
        text-transform: uppercase;
        font-weight: 500;
    }

    &__text {
        padding: 3rem;
        font-size: 1.5rem;
    }

    &__bottom {
        grid-row: 3/4;
        grid-column: 1/2;

        @include flex(row, space-around, center);

        background-color: $col-white;

        @media only screen and (max-width: $bp-tab-port) {
            display: none;
        }
    }

    &__icon {
        height: 6rem;
        width: 6rem;
        fill: $col-content;

        &:hover {
            fill: $col-content-hover;
        }
    }
}