// Social media icons in sidebar

.icon {
    height: 3rem;
    width: 3rem;
    fill: $col-content;
}

.icon:hover {
    fill: $col-content-hover;
}

.icon__link {
    
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

//SVG logo's of brands

.logo {
    height: 8rem;
    width: 8rem;

    @media only screen and (max-width: $bp-phone) {
        max-height: 5rem;
        max-width: 5rem;
    }

    &--big {

        @media only screen and (max-width: $bp-tab-port) {
            height: 10rem;
            width: 10rem;
        }

        @media only screen and (max-width: $bp-phone) {
            max-height: 5rem;
            max-width: 5rem;
        }
    }

    &--center {
        margin-bottom: 5rem;

        @media only screen and (max-width: $bp-tab-port) {
            margin-bottom: 10rem;
        }
    }
}
