// Social media icons in sidebar

.icon {
    height: 3rem;
    width: 3rem;
    fill: $col-content;
}

.icon:hover {
    fill: $col-content-hover;
}

.icon__link {
    
    &:not(:last-child) {
        margin-right: 1rem;
    }
}

