// this is the contact section 

.contact {
    height: 30rem;
    width: 70rem;
    background-color: $col-white;

    @include flex(row, center, center);

    @media only screen and (max-width: $bp-phone) {
        height: 20rem;
        width: 40rem; 
    }

    &__title {
        font-size: 5rem;
        font-weight: bold;
        text-align: center;

        @media only screen and (max-width: $bp-phone) {
            font-size: 3rem;
        }
    }
}