.container-page {
    height: 100vh;

}

.container-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: minmax(3rem, 5rem) minmax(10rem, 30rem) minmax(60rem, 1fr);
}

.main-content {
    grid-column: 3/4;
}


.section {
    height: 100vh;
    position: relative;

    &__home {
        background-color: $col-sec-1;


    }

    &__about-me {
        background-color: $col-sec-2;
    }

    &__frontend {
        background-color: $col-sec-3;
    }

    &__backend {
        background-color: $col-sec-4;
    }

    &__apps {
        background-color: $col-sec-5;
    }   
    
    &__content {
        background-color: $col-sec-6;
    }
    
    &__contact {
        background-color: $col-sec-7;

        
    }
}
