$col-content: #03045eff;
$col-content-hover: #ade8f4ff;
$col-sidebar: #caf0f8ff;

$col-sec-1: #03045eff;
$col-sec-2: #023e8aff;
$col-sec-3: #0077b6ff;
$col-sec-4: #0096c7ff;
$col-sec-5: #00b4d8ff;
$col-sec-6: #48cae4ff;
$col-sec-7: #90e0efff;

$col-white: white;

// screen sizes
$bp-laptop: 1550px;
