$col-d-blue: #1a535c;
$col-l-blue: #4ecdc4;
$col-red: #ff6b6b;
$col-yellow: #ffe66d;
$col-white: #f7fff7;

$red-salsa: #f94144ff;
$orange-red: #f3722cff;

$mango-tango: #f9844aff;
$pistachio: #90be6dff;
$zomp: #43aa8bff;
$cadet-blue: #4d908eff;
$queen-blue: #577590ff;

$col-body: #f9c74fff;
$col-sidebar: #277da1ff;
$col-sidebar-hover: #90be6dff;;

$col-hero: #f94144ff;


// c
$col-one: #f8961eff;
$col-two: #577590ff;